/* SPDX-License-Identifier: Apache-2.0 */

&usart3 {
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	current-speed = <115200>;
	dmas = <&dma1 2 0x20440>,
		<&dma1 3 0x20480>;
	dma-names = "tx", "rx";
	status = "okay";
};

&dma1 {
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
            boot_partitions: partition@0 {
                label = "mcuboot";
                reg = <0x00000000 0xa800>;
            };
            slot0_partition: partition@a800 {
                label = "image-0";
                reg = <0x0000a800 0x37000>;
            };
            slot1_partition: partition@41800 {
                label = "image-1";
                reg = <0x00041800 0x37000>;
            };
            scratch_partition: partition@6e800 {
                label = "image-scratch";
                reg = <0x0006e800 0x7000>;
            };
    };
};

/{
    chosen {
        zephyr,code-partition = &slot0_partition;
    };
};
